
extends ui_layout

block content
  -const actors = {"Mrs. Warren": "/profile_pictures/teacher.jpg", "Daniel Powers": "/profile_pictures/student.jpg", "Alfred Fluffington": "/profile_pictures/student2.jpg", "Conversational AI Agent": "/profile_pictures/convo_bot.png"}
  .computer.only.tablet.only.four.wide.column 
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column()       
    //-####################### POST 1 ######################################
    .ui.fluid.card.dim(postID="post1")
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              | You&apos;ve flagged this!
              h3.ui.inverted.header
                span 
                  | The admins will review this post further. We are sorry you 
                  | had this experience.
      .content
        .right.floated.meta= "37 minutes ago"
        a(href='#')
              img.ui.avatar.image(src='/profile_pictures/user25.jpg')
              span='Ella Sroni'
      .img.post
        img(src='/post_pictures/blackbkg.jpg')
      .content
        .description No one likes you. Why do you come to school? 
          a @Dylan Moore
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          | Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          | Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            | Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src='/profile_pictures/user14.jpg')
            .content
              a.author Sarah Stella
              .metadata
                span.date 24 minutes ago
                .rating
                  i.heart.icon
                  span.num 1
                  |  Likes
              .text 
                | Lol it's true!! I don't want to see him at school anymore
              .actions
                a.like.comment Like
                a.flag.comment Flag
          .comment
            a.avatar
              img(src='/profile_pictures/user22.jpeg')
            .content
              a.author Lana Sheehan
              .metadata
                span.date 6 minutes ago
                .rating
                  i.heart.icon
                  span.num 0
                  |  Likes
              .text 
                | Dylan you definitely belong at school don't listen to her!
              .actions
                a.like.comment Like
                a.flag.comment Flag
          if script["post1"]
            each comment in script["post1"]
              .comment
                a.avatar
                  img(src=comment["actor"]=="Guest" ? '/profile_pictures/avatar-icon.svg' : actors[comment["actor"]])
                .content
                  a.author #{comment["actor"]}
                  .metadata
                    span.date Yesterday
                  .text 
                    | #{comment["body"]}
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.rounded.image(src='/profile_pictures/avatar-icon.svg')
          .ui.form
            .field
              textarea.newcomment(type='text' placeholder='Write a Comment' rows="2")
          i.big.send.link.icon
    //-####################### POST 2 ######################################
    .ui.fluid.card.dim(postID="post2")
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              | You&apos;ve flagged this!
              h3.ui.inverted.header
                span 
                  | The admins will review this post further. We are sorry you 
                  | had this experience.
      .content
        .right.floated.meta= "16 minutes ago"
        a(href='#')
              img.ui.avatar.image(src='/profile_pictures/user54.jpg')
              span='Breana Summers'
      .img.post
        img(src='/post_pictures/ewww.jpg', width='100%')
      .content
        .description Dylan smells like he didn't shower for a week
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          | Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          | Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            | Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src='/profile_pictures/user42.jpg')
            .content
              a.author Neel Talwar
              .metadata
                span.date 8 minutes ago
                .rating
                  i.heart.icon
                  span.num 0
                  |  Likes
              .text ugh what ???
              .actions
                a.like.comment Like
                a.flag.comment Flag
          .comment
            a.avatar
              img(src='/profile_pictures/user48.jpg')
            .content
              a.author Asher Michaels
              .metadata
                span.date 5 minutes ago
                .rating
                  i.heart.icon
                  span.num 1
                  |  Likes
              .text I feel you bro. He's the worst deskmate
              .actions
                a.like.comment Like
                a.flag.comment Flag
          if script["post2"]
            each comment in script["post2"]
              .comment
                a.avatar
                  img(src=comment["actor"]=="Guest" ? '/profile_pictures/avatar-icon.svg' : actors[comment["actor"]])
                .content
                  a.author #{comment["actor"]}
                  .metadata
                    span.date Yesterday
                  .text 
                    | #{comment["body"]}
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.rounded.image(src='/profile_pictures/avatar-icon.svg')
          .ui.form
            .field
              textarea.newcomment(type='text' placeholder='Write a Comment' rows="2")
          i.big.send.link.icon
    //-####################### POST 3 ######################################
    .ui.fluid.card.dim(postID="post3")
        .ui.dimmer.flag
          .content
            .center
              h2.ui.inverted.icon.header
                i.red.flag.icon
                | You&apos;ve flagged this!
                h3.ui.inverted.header
                  span 
                    | The admins will review this post further. We are sorry you 
                    | had this experience.
        .content
          .right.floated.meta= "33 minutes ago"
          a(href='#')
                img.ui.avatar.image(src='/profile_pictures/user19.jpg')
                span='Dylan Moore'
        .img.post
          img(src='/post_pictures/heartbroken.jpg')
        .content
          .description I don't want to go to school anymore. Everybody hates me.
        .three.ui.bottom.attached.icon.buttons
          .ui.reply.button(tabindex='0')
            i.reply.icon
            | Reply
          .ui.flag.button(tabindex='0')#hint2
            i.flag.icon
            | Flag
          .ui.labeled.button(tabindex='0')
            .ui.like.button
              i.heart.icon
              | Like
            a.ui.basic.red.left.pointing.label.count 4    
        .content
          .ui.comments
            if script["post3"]
              each comment in script["post3"]
                .comment
                  a.avatar
                    img(src=comment["actor"]=="Guest" ? '/profile_pictures/avatar-icon.svg' : actors[comment["actor"]])
                  .content
                    a.author #{comment["actor"]}
                    .metadata
                      span.date Yesterday
                    .text 
                      | #{comment["body"]}
        .extra.content
          .ui.fluid.left.labeled.right.icon.input
            .ui.label
              img.ui.rounded.image(src='/profile_pictures/avatar-icon.svg')
            .ui.form
              .field
                textarea.newcomment(type='text' placeholder='Write a Comment' rows="2")
            i.big.send.link.icon
    //-####################### POST 4 ######################################
    .ui.fluid.card.dim(postID="post4")
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              | You&apos;ve flagged this!
              h3.ui.inverted.header
                span 
                  | The admins will review this post further. We are sorry you 
                  | had this experience.
      .content
        .right.floated.meta= "43 minutes ago"
        a(href='#')
              img.ui.avatar.image(src='/profile_pictures/user34.jpg')
              span='Keegan Scott'
      .img.post
        img(src='/post_pictures/dylansketchbook.jpeg')
      .content
        .description 
          | omg lollll look at Dylan’s sketchbook he’s such a nerdddd
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          | Reply
        .ui.flag.button()
          i.flag.icon
          | Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            | Like
          a.ui.basic.red.left.pointing.label.count 3
      .content
        .ui.comments
          .comment
            a.avatar
              img(src='/profile_pictures/user25.jpg')
            .content
              a.author Ella Sroni
              .metadata
                span.date 30 minutes ago
                .rating
                  i.heart.icon
                  span.num 1
                  |  Likes
              .text lol what a loser
              .actions
                a.like.comment Like
                a.flag.comment Flag
                a#hint3
          .comment
            a.avatar
              img(src='/profile_pictures/user54.jpg')
            .content
              a.author Breana Summers
              .metadata
                span.date 19 minutes ago
                .rating
                  i.heart.icon
                  span.num 4
                  |  Likes
              .text Cartoons are for babies!
              .actions
                a.like.comment Like
                a.flag.comment Flag
                a#hint3          
          if script["post4"]
            each comment in script["post4"]
              .comment
                a.avatar
                  img(src=comment["actor"]=="Guest" ? '/profile_pictures/avatar-icon.svg' : actors[comment["actor"]])
                .content
                  a.author #{comment["actor"]}
                  .metadata
                    span.date Yesterday
                  .text 
                    | #{comment["body"]}
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.rounded.image(src='/profile_pictures/avatar-icon.svg')
          .ui.form
            .field
              textarea.newcomment(type='text' placeholder='Write a Comment' rows="2")
          i.big.send.link.icon

    //-####################### POST 1 ######################################
    //- .ui.fluid.card.dim(postID="post1")
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              | You&apos;ve flagged this!
              h3.ui.inverted.header
                span 
                  | The admins will review this post further. We are sorry you 
                  | had this experience.
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
              img.ui.avatar.image(src='/profile_pictures/user55.jpg')
              span='Lana Reed'
      .img.post
        img(src='/post_pictures/calculator.jpg')
      .content
        .description Somebody help me with math
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          | Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          | Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            | Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src='/profile_pictures/user66.jpeg')
            .content
              a.author Emma Hanson
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num 1
                  |  Likes
              .text 
                | Seriously, you should drop out or repeat grade 7 if you can't 
                | even deal with such an easy assignment.
              .actions
                a.like.comment Like
                a.flag.comment Flag
          if script["post1"]
            each comment in script["post1"]
              .comment
                a.avatar
                  img(src=comment["actor"]=="Guest" ? '/profile_pictures/avatar-icon.svg' : '/profile_pictures/convo_bot.gif')
                .content
                  a.author #{comment["actor"]}
                  .metadata
                    span.date Yesterday
                  .text 
                    | #{comment["body"]}
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src='/profile_pictures/avatar-icon.svg')
          .ui.form
            .field
              textarea.newcomment(type='text' placeholder='Write a Comment' rows="2")
          i.big.send.link.icon
    //-####################### POST 2 ######################################
    //- .ui.fluid.card.dim(postID="post2")
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              | You&apos;ve flagged this!
              h3.ui.inverted.header
                span 
                  | The admins will review this post further. We are sorry you 
                  | had this experience.
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
              img.ui.avatar.image(src='/profile_pictures/user54.jpg')
              span='Ariel Simon'
      .img.post
        img(src='/post_pictures/class_schedule.png')
      .content
        .description Look at my class schedule this semester!
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          | Reply
        .ui.flag.button(tabindex='0')
          i.flag.icon
          | Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            | Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src='/profile_pictures/user36.jpg')
            .content
              a.author Hayden Abbey
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num 1
                  |  Likes
              .text omg i’m so scared of physics
              .actions
                a.like.comment Like
                a.flag.comment Flag
          if script["post2"]
            each comment in script["post2"]
              .comment
                a.avatar
                  img(src=comment["actor"]=="Guest" ? '/profile_pictures/avatar-icon.svg' : '/profile_pictures/convo_bot.gif')
                .content
                  a.author #{comment["actor"]}
                  .metadata
                    span.date Yesterday
                  .text 
                    | #{comment["body"]}
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src='/profile_pictures/avatar-icon.svg')
          .ui.form
            .field
              textarea.newcomment(type='text' placeholder='Write a Comment' rows="2")
          i.big.send.link.icon
    //-####################### POST 3 ######################################
    //- .ui.fluid.card.dim(postID="post3")
        .ui.dimmer.flag
          .content
            .center
              h2.ui.inverted.icon.header
                i.red.flag.icon
                | You&apos;ve flagged this!
                h3.ui.inverted.header
                  span 
                    | The admins will review this post further. We are sorry you 
                    | had this experience.
        .content
          .right.floated.meta= "Yesterday"
          a(href='#')
                img.ui.avatar.image(src='/profile_pictures/user66.jpeg')
                span='Emma Hanson'
        .img.post
          img(src='/post_pictures/loser.jpg')
        .content
          .description Lana is a LOSER!
        .three.ui.bottom.attached.icon.buttons
          .ui.reply.button(tabindex='0')
            i.reply.icon
            | Reply
          .ui.flag.button(tabindex='0')#hint2
            i.flag.icon
            | Flag
          .ui.labeled.button(tabindex='0')
            .ui.like.button
              i.heart.icon
              | Like
            a.ui.basic.red.left.pointing.label.count 2    
        .content
          .ui.comments
            if script["post3"]
              each comment in script["post3"]
                .comment
                  a.avatar
                    img(src=comment["actor"]=="Guest" ? '/profile_pictures/avatar-icon.svg' : '/profile_pictures/convo_bot.gif')
                  .content
                    a.author #{comment["actor"]}
                    .metadata
                      span.date Yesterday
                    .text 
                      | #{comment["body"]}
        .extra.content
          .ui.fluid.left.labeled.right.icon.input
            .ui.label
              img.ui.avatar.image(src='/profile_pictures/avatar-icon.svg')
            .ui.form
              .field
                textarea.newcomment(type='text' placeholder='Write a Comment' rows="2")
            i.big.send.link.icon
    //-####################### POST 4 ######################################
    //- .ui.fluid.card.dim(postID="post4")
      .ui.dimmer.flag
        .content
          .center
            h2.ui.inverted.icon.header
              i.red.flag.icon
              | You&apos;ve flagged this!
              h3.ui.inverted.header
                span 
                  | The admins will review this post further. We are sorry you 
                  | had this experience.
      .content
        .right.floated.meta= "Yesterday"
        a(href='#')
              img.ui.avatar.image(src='/profile_pictures/user44.png')
              span='David Cole'
      .img.post
        img(src='/post_pictures/blackbkg.jpg')
      .content
        .description 
          | No one likes u sarah. Why do u come to school? @Sarah Stella
      .three.ui.bottom.attached.icon.buttons
        .ui.reply.button(tabindex='0')
          i.reply.icon
          | Reply
        .ui.flag.button()
          i.flag.icon
          | Flag
        .ui.labeled.button(tabindex='0')
          .ui.like.button
            i.heart.icon
            | Like
          a.ui.basic.red.left.pointing.label.count 2
      .content
        .ui.comments
          .comment
            a.avatar
              img(src='/profile_pictures/user43.jpg')
            .content
              a.author Susan Turner
              .metadata
                span.date Yesterday
                .rating
                  i.heart.icon
                  span.num 1
                  |  Likes
              .text Lol it’s true ! I don’t want to see her at school anymore
              .actions
                a.like.comment Like
                a.flag.comment Flag
                a#hint3
          if script["post4"]
            each comment in script["post4"]
              .comment
                a.avatar
                  img(src=comment["actor"]=="Guest" ? '/profile_pictures/avatar-icon.svg' : '/profile_pictures/convo_bot.gif')
                .content
                  a.author #{comment["actor"]}
                  .metadata
                    span.date Yesterday
                  .text 
                    | #{comment["body"]}
      .extra.content
        .ui.fluid.left.labeled.right.icon.input
          .ui.label
            img.ui.avatar.image(src='/profile_pictures/avatar-icon.svg')
          .ui.form
            .field
              textarea.newcomment(type='text' placeholder='Write a Comment' rows="2")
          i.big.send.link.icon

  //-Mobile version of the notification popup
  .ui.fixed.bottom.sticky.notificationPopup.hidden#mobilePopup(correspondingpost=0)
      .ui.info.message#removeHiddenMobile
        i.close.icon
        .ui.feed
         .event
           .label
             img.popupNotificationImage(src='/profile_pictures/user39.jpg')
           .content
             .summary Thomas Rogers commented on Hannah Lee’s post: “I love ribs”.        

  //-notification popup
  .computer.only.tablet.only.two.wide.column 
    .ui.fixed.bottom.sticky.notificationPopup.hidden#desktopPopup(correspondingpost=0)
     .ui.info.message#removeHidden
       i.close.icon
       .ui.feed
        .event
          .label
            img.popupNotificationImage(src='/profile_pictures/user39.jpg')
          .content
            .summary Thomas Rogers commented on Hannah Lee’s post: “I love ribs”.

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/postFunctionalities.js')

block styles
  link(rel='stylesheet', href='/index.css')